@import 'normalize';
@import 'variables';
* {
    font-family: $font_base;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.uf {
    &-h3 {
        color: $uf-color;
        text-transform: uppercase;
    }
    &-h5 {
        text-transform: uppercase;
    }
}

.page-container {
    margin: 0 auto;
    width: 100vw;
    max-width: 1024px;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    &__navblock {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
}

.logo {
    &__pic {
        width: 150px;
    }
}

.nav {
    padding: 0 15px;
    &__container {
        list-style: none;
        margin-right: 50px;
    }
    &__element {
        line-height: 1.5;
        text-transform: uppercase;
        margin: 0 3px;
        font-size: 13px;
    }
    &__element:hover {
        background-color: $uf-color;
    }
    &__element:hover &__link {
        color: white;
    }
    &--bordered {
        .nav__element:after {
            margin-left: 9px;
            content: "";
            height: 100%;
            width: 0;
            border-right: 2px solid $uf-color;
        }
        .nav__element:last-of-type:after {
            content: none;
        }
    }
    &-horizontal {
        .nav__element {
            display: inline-block;
        }
    }
}

.link {
    &--decor-none {
        text-decoration: none;
        color: black;
    }
}

.btn {
    position: relative;
    cursor: pointer;
    display: table-cell;
    border: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    &:hover {
        background-color: $uf-color;
    }
    &--search {
        background-image: url("../img/search.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    &--fb {
        background-image: url("../img/facebook.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--linkedin {
        background-image: url("../img/linkedin.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--youtube {
        background-image: url("../img/youtube.png");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--bordered {
        border: 2px solid $uf-color;
        border-right: 0;
        &:last-child {
            border-right: 2px solid $uf-color;
        }
    }
    &--submit:after {
        content: "";
        position: absolute;
        overflow: hidden;
        display: inline-block;
        font-size: 12px;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        top: 50%;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(45deg);
        right: 13px;
    }
}

.main {
    margin: 20px 0;
}

.hero {
    &__pic {
        width: 100%;
    }
}

.footer {
    display: grid;
    &--col4 {
        grid-template-columns: 4(1fr);
    }
    &--row2 {
        grid-template-rows: auto;
    }
    &__item {
        padding: 10px;
        &--row1 {
            grid-row-start: 1;
            grid-row-end: span 1;
        }
        &--row2 {
            grid-row-start: 2;
            grid-row-end: span 1;
        }
        &--row2span {
            grid-row-start: 1;
            grid-row-end: span 2;
        }
    }
}

.address {
    margin-top: 20px;
    font-style: normal;
    line-height: 1.5;
}

.input-text {
    border: 0;
    border-bottom: 2px solid $uf-color;
    line-height: 26px;
    padding-left: 10px;
}

.active {
    cursor: default;
    color: $uf-color;
    &:hover {
        background-color: initial;
    }
}